<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
<appSettings>
  <add key="Server" value="192.168.1.3"/>
  <add key="Port" value="10001"/>
</appSettings>
 <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="All" >
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.IdentityModel" switchValue="All">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
        <source name="System.ServiceModel.Activation" switchValue="All">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
       <source name="System.Runtime.Serialization" switchValue="All">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
      <source name="System.IO.Log" switchValue="All">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
      <source name="Cardspace" switchValue="All">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="tracelog.svclog"
         type="System.Diagnostics.XmlWriterTraceListener"
         name="ServiceModelTraceListener" traceOutputOptions="Timestamp"/>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
         <diagnostics>
            <messageLogging
                    logEntireMessage="true"
                    logMalformedMessages="false"
                    logMessagesAtServiceLevel="true"
                    logMessagesAtTransportLevel="false"
                    maxMessagesToLog="2147483647"
                    maxSizeOfMessageToLog="100000"/>
         </diagnostics>
       </system.serviceModel>
</configuration>
